# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary folders
dist/
temp/

# Temporary data
data/

# VS code setting
.vscode/
!.vscode/settings.json
!.vscode/launch.json

# Claude files
.claude/
CLAUDE.md